<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body>
    <h1>회원가입</h1>
    <!-- action : form에 작성한 데이터를 어디로 보낼지 저장. -->
    <form action="/user/signUp" method="post">
        <!-- name : 서버로 전송 할 때 변수이름의 역할 -->
        이름 : <input type="text" name="user_name"> <br>
        아이디 : <input type="text" name="user_id"><br>
        비밀번호: <input type="password" name="user_pwd"> <br>
        닉네임 : <input type="text" name="user_nickname"> <br>
        <input type="submit" value="회원가입">
        <a href="/user/index">로그인하러가기</a>
    </form>
</body>
</html>