<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>충전소 목록</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
  <div class="logo">
    <img src="image/logo.png" alt="Pabap Logo">
  </div>
  <nav>
    <ul>
      <li><a href="/login">로그인</a></li>
      <li><a href="/register">회원가입</a></li>
      <li><a href="/listCharge">충전소 목록</a></li>
      <li><a href="/addViewCharge">충전소 추가</a></li>
    </ul>
  </nav>
</header>
<main>
  <div class="container">
  <h2>충전소 목록</h2>

  <!-- 검색 폼 -->
  <form action="/listCharge" method="get" class="search-form">
    <div>
      <label for="searchType">검색 조건: </label>
      <select name="searchType" id="searchType">
        <option value="chargeName">충전소 명</option>
        <option value="chargeAddr">충전소 주소</option>
        <option value="chargeType">충전소 타입</option>
        <option value="busiName">회사명</option>
      </select>
      <input type="text" name="searchKeyword" id="searchKeyword" placeholder="검색어 입력"/>
      <input type="submit" value="검색"/>
    </div>
  </form>
  </div>
  <!-- 검색 폼 끝 -->

  <br/>
  <div class="charge-table">
    <table border="1">
      <tr>
        <th>Charge ID</th>
        <th>충전소 명</th>
        <th>충전소 주소</th>
        <th>충전소 타입</th>
        <th>회사명</th>
        <th>Action</th>
        <th>즐겨찾기</th>
      </tr>
      <tr th:each="charge : ${allCharges}">
        <td><a th:href="@{/viewCharge/{id}(id=${charge.chargeId})}" th:text="${charge.chargeId}"></a></td>
        <td th:text="${charge.chargeName}"></td>
        <td th:text="${charge.chargeAddr}"></td>
        <td th:text="${charge.chargeType}"></td>
        <td th:text="${charge.busiName}"></td>
        <td>
          <a th:href="@{/updateViewCharge/{id}(id=${charge.chargeId})}" class="action-link">수정</a>,
          <a th:href="@{/deleteCharge/{id}(id=${charge.chargeId})}" class="action-link">삭제</a>
        </td>
        <td>
          <!-- 즐겨찾기 체크박스 버튼 추가 -->
          <input type="checkbox" class="favorite-checkbox" data-charge-id="${charge.chargeId}" />
        </td>
      </tr>
    </table>
  </div>

  <br/><br/>
  <!-- 즐겨찾기 확인 버튼 -->
  <div class="confirm-favorites">
    <button id="confirmFavorites">즐겨찾기 확인</button>
  </div>

</main>
<footer>
  <div class="contact-info">
    <p>문의 이메일: example@example.com</p>
    <p>전화번호: 123-456-7890</p>
    <p>회사 주소: 서울시 강남구 강남대로 1234번지</p>
    <p>영업시간: 월요일 - 금요일 9:00 AM - 6:00 PM</p>
  </div>
</footer>
<script src="scripts.js"></script>
</body>
</html>
